<mat-toolbar class="header bg-dark">
    <button class="btn d-flex-aligned" mat-icon-button>
        <i class="fa-solid fa-bars fs-20"></i>
    </button>
    <span class="ms-3">Jobsity challenge</span>
    <span class="spacer"></span>
    <button class="btn d-flex-aligned" mat-button (click)="openReminderForm()">
        <i class="fa-solid fa-plus fs-16 me-1"></i> <span class="fs-17">New reminder</span>
  </button>
</mat-toolbar>


<div class="calendar-container d-flex-aligned">
    <app-month-toolbar (monthChanged)="monthChanged()" (selectedToday)="setCalendarData()" [date]="currentDate">
    </app-month-toolbar>

    <div class="calendar-grid" [ngClass]="shouldHaveSixRows ? 'grid-six-rows' : 'grid-five-rows'">
        <div *ngFor="let weekDay of (weekDays$ | async)" class="bg-dark d-flex-aligned" >
            <span>{{ weekDay }}</span>
        </div>

        <div *ngFor="let calendarDay of (calendarDays$ | async)" class="calendar-day" [ngClass]="calendarDayClass(calendarDay)"
          [id]="getCalendarDayId(calendarDay)">
            <div class="reminders-container" [id]="'container' + getCalendarDayId(calendarDay)">
                <div class="d-flex align-items-center justify-content-between">
                    <p [ngClass]="calendarDayNumberClass(calendarDay)">
                      {{ calendarDay.day }}
                    </p>

                    <div *ngIf="getHiddenRemindersMap(getCalendarDayId(calendarDay))" class="d-flex-aligned"
                      [ngClass]="calendarDay.isWeekend ? 'weekend' : 'bg-white'">
                        <span class="expand-collapse-btn clickable" [id]="'btn-more' + getCalendarDayId(calendarDay)"
                          (click)="collapseOrExpandReminders(calendarDay, $event)">
                            +{{getHiddenRemindersMap(getCalendarDayId(calendarDay))}} more
                        </span>

                        <i [id]="'btn-close' + getCalendarDayId(calendarDay)" (click)="collapseOrExpandReminders(calendarDay, $event)"
                          class="fs-20 invisible clickable fa-solid fa-xmark expand-collapse-btn">
                        </i>
                    </div>
                </div>

                <div *ngFor="let reminder of getCalendarDayReminders(calendarDay)" class="clickable reminder ms-3 me-3"
                  [ngStyle]="{'background-color': reminder.color}" (click)="openReminderForm(reminder)" [id]="reminder.id">
                    <span class="pe-2">{{ reminder.text }}</span>
                    <i (click)="delete($event, reminder.id)" class="fa-solid fa-xmark ps-2 pe-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>
